main {
  width: 100%;
  height: 100%;
}

.first-page {
  height: 100vh;

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.first-page div {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  height: 50vh;
  width: 50vw;
}
.span {
  font-size: 70px;
  letter-spacing: 8px;
}

.span-1 {
  color: #b4c5d3;
}
.span-2 {
  color: #b5c9b2;
}
.span-3 {
  color: #ae8888;
}
.span-4 {
  color: #918eb2;
}
p {
  width: 70%;
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  word-spacing: 2px;
}
button {
  background-color: #69665c;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border: none;

  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  text-transform: capitalize;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 20px 46px;
}
.leftSide {
  width: 25%;
}
.mainCards {
  flex: 1;
}
.list-todo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 300px;

  justify-content: space-between;
}

.list-todo li {
  display: flex;
  justify-items: center;
  align-items: center;
}

.list-todo li span {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.list-todo li .work {
  background-color: #918eb2;
}
.list-todo li .study {
  background-color: #b5c9b2;
}
.list-todo li .enter {
  background-color: #ae8888;
}

.list-todo li .family {
  background-color: #d2ceff;
}
.list-todo li h3 {
  font-size: 18px;
}
